.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #3c475d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #709ffe;
  padding: 100px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.profile-picture {
  width: 120px;
  border: white 4px solid;
  border-radius: 20px;
  margin-right: 10px;
}

.single-message {
  display: flex;
  font-size: 32px;
  align-items: start;
  margin-bottom: 16px;
  color: white;
  background-color: #55627c;
  border-radius: 30px;
  padding: 10px;
}

.message-text{
  text-align: left;
}

.username{
  font-size: 32px;
  margin-right: 8px;
}
.timestamp {
  color: #b6b6b6;
  font-size: 24px;
}

.App-link {
  color: #61dafb;
}

