.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
  padding: 50px;
}

.profile-picture {
  width: 120px;
  border: blue 1px solid;
  border-radius: 15px;
  margin-right: 10px;
}

.single-message {
  display: flex;
  font-size: 32px;
  align-items: start;
  margin-bottom: 32px;
}

.message-text{
  text-align: left;
}

.username{
  font-size: 32px;
  margin-right: 8px;
}
.timestamp {
  color: yellow;
  font-size: 24px;
}

.App-link {
  color: rgb(193, 255, 193) ;
}
